body{
	box-sizing: border-box;
	background: #f2f2f2;
}
img{
	max-width:100%;
	margin:0;
}

h1,
h2,
h3,
h4,
h5,
h6{
	margin:0;
}
a{
	text-decoration: none;
	margin: 0;
}
.main-contenedor{
	max-width:$tamaño-max;
	margin:0 auto;

	&__principal{
		

		@media screen and (min-width: 480px){
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}	
	}

	&__title{
		padding:1em;
		flex: 0 1 100%;
		font-size: 2.5em;
		font-weight: 700;
		text-transform: uppercase;
		text-align:center;
		

	}
	
	&__entrada{
		background-color:white;
		margin-bottom: 2em;
		text-align:center;


		@media screen and (min-width: 480px){
			flex: 0 1 calc(50% - 1rem);

		}

		@media screen and (min-width: 768px){
			flex:0 1 calc(33% - 1rem);
		}
	}

	&__subtitle{
		
		font-size: 1.5em;
		line-height: 1.5em;
		
	}

	&__contenido{
		padding: 1em;
		text-transform: uppercase;
	}

	&__span{
		color:$color_4;
	}

	&__button{
		background-color:$color_2;
		color:$color_3;
		margin-top: 1em;
		display:block;
		padding: 1em; 
	}

	&__button:hover{
		background-color:black;
	}

}
.main-footer{
	display:flex;
	justify-content:center;
	align-items:center;
	padding:2em;
	background-color:black;
	color:white;
	text-transform: uppercase;
	font-size: 1em;
}