<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	title Proyecto 2 de Flexbox
	link(rel="stylesheet", href="css/styles.css")
body
	.contenedor
		header.contenedor-header
			h1: a.contenedor-header__title(href="/") Tensai Cars
			-var enlaces=['Inicio','Nosotros','Servicios','Portafolio','Contacto',];
			-for(i=0;i<5;i++)
				if(enlaces[i] === 'Inicio')
					a.contenedor-header__link(href="/") #{enlaces[i]}
				else
					a.contenedor-header__link(href=enlaces[i]) #{enlaces[i]}

		.main-contenedor
			main.main-contenedor__principal
				h2.main-contenedor__title Ultimos Modelos
				-var titulos = ['Chevrolet-Cruze 2020','Mustan 2020 ','Spark 2020','Doger Caliber 2020','Bmw 2020','Wolsvagen 2020'];
				-var imagenes = ['chevrolet-3253172_1920','car-3075471_1920','car-3305546_1920','car-3321214_1920','bmw-m4-3169357_1920','car-race-438467_1920'];
				-for(i=0;i<6;i++)
					article.main-contenedor__entrada
						img(src="img/" + imagenes[i] + ".jpg", alt="").main-contenedor__img
						.main-contenedor__contenido
							h3.main-contenedor__subtitle #{titulos[i]}
							p.main-contenedor__text Publicado el:
								span.main-contenedor__span El 19 de Julio
							p.main-contenedor__text Por :
								span.main-contenedor__span Tensai Cars 2020
							a.main-contenedor__button(href="#") Comprar
		footer.main-footer
			p.main-footer__text Tensai Cars Todos Los Derechos Reservados 2020