.contenedor-header{
	padding: 0 auto;
	background-color:$color_2;
	display:flex;
	justify-content:space-between;
	&__sitio{
	}
	&__link{
		background-color:$color_2;
		color:$color_3;
		margin-top: 1em;
		display:block;
		padding: 1em; 
		flex-flow: 1 0 100%;
	}
}